section {
    padding-bottom: 60px;
}
.links-container {
    width: 100%;
    display: flex;
    gap: 12px;
    margin-top: 50px;
}
.link,
button {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid $text-gray 1px;
    border-radius: 50px;
    color: $text-gray;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    gap: 14px;
}

.link-current,
.go-up-btn:hover {
    border: solid $yellow 1px;
    background: $yellow;
    color: $dark-main;
    transition: all 0.2s ease-in-out;
    img {
        filter: brightness(0) saturate(100%) invert(3%) sepia(7%)
            saturate(3461%) hue-rotate(202deg) brightness(87%) contrast(83%);
    }
}
.go-up-btn {
    img {
        transform: rotate(180deg);
        max-width: 10px;
        height: auto;
    }
}

h1 {
    margin-top: 50px;
    font-size: 28px;
    line-height: 28px;
}
.cards-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.btn-container {
    margin-top: 60px;
}
@media (min-width: $tablet-breakpoint) {
    section {
        padding-bottom: 80px;
    }
    .breadcrumbs {
        margin-top: 60px;
    }
    .links-container {
        margin-top: 90px;
        gap: 16px;
        a {
            max-width: 115px;
        }
    }
    .go-up-btn {
        max-width: 204px;
    }

    .cards-container {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
    }
    h1 {
        font-size: 34px;
        line-height: 34px;
    }
    .btn-container {
        margin-top: 80px;
        display: flex;
        justify-content: flex-end;
    }
}
@media (min-width: $desktop-breakpoint) {
    section {
        padding-bottom: 120px;
    }
    h1 {
        font-size: 48px;
        margin-top: 42px;
        line-height: 48px;
    }
    .cards-container {
        margin-top: 120px;
        column-gap: 24px;
    }
    .breadcrumbs {
        margin-top: 82px;
    }
    .links-container {
        margin-top: 110px;
    }
    .btn-container {
        margin-top: 120px;
    }
}
