h2 {
    margin-bottom: 32px;
}
.grid {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.item {
    display: flex;
    color: var(--text-primary);
    gap: 12px;
    p {
        white-space: pre-wrap;
        max-width: 288px;
        letter-spacing: 0.2px;
        font-size: 20px;
        line-height: 24px;
    }
    img {
        align-self: flex-start;
    }
}
.footnote {
    margin-top: 32px;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-secondary);
    opacity: 0.5;
    letter-spacing: 0.16px;
}
@media (min-width: $tablet-breakpoint) {
    h2 {
        margin-bottom: 40px;
        max-width: 642px;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 32px;
    }
    .item {
        p {
            max-width: unset;
            white-space: unset;
        }
    }
}
@media (min-width: $desktop-breakpoint) {
    h2 {
        margin-bottom: 48px;
        max-width: 1043px;
    }
    .grid {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 20px;
    }
    .item {
        p {
            min-width: 190px;
            white-space: pre-wrap;
        }
        &:first-child {
            p {
                max-width: 282px;
                min-width: 280px;
            }
        }
    }
    .footnote {
        font-weight: 500;
        max-width: 906px;
    }
}
