.footer {
    background: $gray;
    position: relative;
    padding: 32px 17px 0px;
    background-image: url('/assets/icons/rino.svg');
    background-repeat: no-repeat;
    background-position: bottom left 17px;
    display: flex;
    flex-direction: column;
}
.footer__bg {
    display: none;
}
.footer__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $max-width-desktop;
}
a {
    transition: all 0.2s ease-in-out !important;
    &:hover {
        color: $yellow !important;
    }
}
.footer__logo-container {
    width: 78px;
    height: 43px;
    position: relative;
    display: block;
    box-sizing: border-box;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.2s opacity ease-in-out;
        &:nth-child(2) {
            opacity: 0;
        }
        &:hover {
            &:nth-child(2) {
                opacity: 1;
            }
        }
    }
}
.footer__nav-links {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 24px;
    a {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }
}
.footer__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $text-gray;
    max-width: 140px;
    &:nth-child(4) {
        margin-top: 10px;
    }
    &:nth-child(3) {
        margin-top: 39px;
    }
}
.footer__branch-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    max-width: 140px;
    color: $text-gray;
    &:nth-child(5) {
        margin-top: 37px;
    }
    &:nth-child(6) {
        margin-top: 20px;
        margin-bottom: 29px;
    }
    a {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
    }
}
.footer__bottom {
    border-top: 1px solid #686872;
    padding: 11px 0px 25px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    max-width: $max-width-desktop;
    * {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.02em;
        color: $text-gray;
    }
    span {
        margin-top: 13px;
        font-size: 12px;
    }
}
.inkoterms {
    order: 1;
}
.tariffs {
    order: 2;
}
.classification {
    order: 1;
}
.vessels {
    order: 2;
}
.map {
    order: 3;
}
.projects {
    display: none;
}
.placeholder {
    display: none;
}
.footer__info_left {
    a:first-child {
        display: none;
    }
}
@media (min-width: $tablet-breakpoint) {
    * {
        margin: unset !important;
    }
    .footer {
        padding: 46px 32px 0px;
        background-position: bottom left 32px;
        background-size: auto 50%;
    }
    .footer__container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 78px auto auto auto;
        justify-items: start;
        column-gap: 32px;
        row-gap: 32px;
        margin-bottom: 42px !important;
    }
    .inkoterms,
    .tariffs,
    .classification,
    .vessels,
    .map {
        order: unset;
    }
    .footer__nav-links {
        gap: 16px;
        justify-self: start;
        width: 80px;
        a:last-child {
            display: none;
        }
    }
    .footer__info {
        gap: 16px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: unset;
        color: white;
        max-width: 185px;
    }
    .footer__branch-info {
        max-width: unset;
        font-size: 14px;
    }
    .projects {
        display: inline;
    }
    .moscow {
        grid-column: 3 / 4;
        width: 160px;
    }
    .vdk {
        grid-column: 4 / 5;
        width: 185px;
    }
    .footer__bottom {
        display: grid;
        border-top: 1px solid #686872;
        column-gap: 32px;
        padding: 11px 0px 25px;
        grid-template-rows: 1fr;
        grid-template-columns: 78px auto auto auto;
        * {
            font-size: 14px;
            white-space: nowrap;
            overflow: visible;
            height: 20px;
        }
    }
    .placeholder {
        display: block;
        width: 80px;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .copyright {
        width: 75px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .confidentiality {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        width: 185px;
    }
    .agreement {
        grid-column: 4/5;
        grid-row: 1 / 2;
        width: 185px;
    }
    .footer__info_left {
        a:first-child {
            display: unset;
        }
    }
}
@media (min-width: $desktop-breakpoint) {
    .placeholder {
        display: none;
    }
    .footer__bottom {
        display: flex;
        flex-direction: row;
        z-index: 2;
        column-gap: unset;
    }
    .copyright,
    .agreement,
    .confidentiality {
        width: unset;
    }
    .copyright {
        order: 1;
    }
    .confidentiality {
        order: 2;
        margin-left: 170px !important;
    }
    .agreement {
        order: 3;
        margin-left: 24px !important;
    }
    .footer {
        padding: 48px 48px 0px;
        align-items: center;
        background-image: none;
        overflow: hidden;
    }
    .footer__container {
        display: flex;
        flex-direction: row;
        height: 241px;
        column-gap: unset;
        row-gap: unset;
        justify-content: space-between;
        width: 100%;
        max-width: $max-width-desktop;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0 !important;
        position: relative;
        overflow: visible;
        * {
            z-index: 3;
        }
    }
    .footer__branch-info {
        gap: 15px;
        .address {
            margin-top: 2px !important;
        }
    }
    .moscow {
        width: 170px;
    }
    .vdk {
        max-width: 185px;
    }
    .footer__logo-container {
        margin-left: 0 !important;
        margin-right: 48px !important;
        min-width: 78px;
        min-height: 44px;
    }
    .footer__bg {
        display: block;
        position: absolute;
        bottom: -55px;
        left: -50px;
        z-index: 0;
        height: 360px;
        width: auto;
    }
    .footer__nav-links {
        margin-right: 100px !important;
    }
}
