.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0px 17px;
    display: flex;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
    z-index: 1000;
    font-weight: 500;
    font-size: 11px;
    line-height: 21px;
    min-height: 52px;
}
.navbar__center {
    display: none;
}
.navbar__links,
.navbar__desktop-buttons {
    display: none;
}
.navbar__layout-container {
    width: 100%;
    max-width: $max-width-desktop;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_black {
    background-color: black;
}

.navbar__logo-container {
    background: $almost-white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 52px;
    border-radius: 0px 0px 10px 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: auto;
    align-self: flex-start;
    &:hover {
        background: $yellow;
    }
}
.navbar__logo {
    width: 51px;
    height: auto;
}
.navbar__right {
    display: flex;
    align-items: center;
}
.navbar__left {
    display: flex;
    min-height: 54px;
}

.navbar__phone {
    margin-right: 8px;
    transition: color 0.2s ease-in-out;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}
.navbar__expand-btn {
    min-width: 38px;
    min-height: 38px;
    background: $red;
    border-radius: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-tracker {
    z-index: -2;
    height: 50px;
    width: 100%;
    position: absolute;
}
.navbar__email:hover,
.navbar__phone:hover {
    color: $yellow;
}
.navbar__btn {
    width: 160px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50px;
    border: solid white 1px;
    transition: all 0.2s ease-in-out;
    &:hover {
        color: $yellow;
        border: solid $yellow 1px;
    }
}
.navbar__btn_red {
    border: solid $red 1px !important;
    background: $red;
    color: white !important;
    &:hover {
        color: white;
        border: solid $red-strong 1px !important;
        background: $red-strong;
    }
}
.calculator-blur {
    padding: 70px 17px 0px;
}

@media (min-width: $tablet-breakpoint) {
    .navbar {
        padding: 0px 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }
    .navbar__logo-container {
        width: 96px;
        height: 67px;
    }
    .navbar__left {
        min-height: 72px;
    }
    .navbar__logo {
        width: 66px;
        height: auto;
    }
    .navbar__expand-btn {
        min-width: 50px;
        min-height: 50px;
        border-radius: 50px;
        img {
            width: 24px;
            height: 16px;
        }
    }
    .navbar__phone {
        margin-right: 16px;
    }
    .calculator-blur {
        padding: 0px 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (min-width: $desktop-breakpoint) {
    .navbar {
        padding: 0px 40px;
    }
    .navbar__logo-container {
        width: 113px;
        height: 73px;
    }
    .navbar__logo {
        width: 76px;
    }
    .navbar__center {
        display: flex;
        height: 83px;
        align-items: center;
    }
    .navbar__phone {
        margin-right: 15px;
    }
    .navbar__email {
        text-decoration-line: underline;
        transition: all 0.2s ease-in-out;
    }
    .navbar__desktop-buttons {
        display: flex;
        align-items: center;
        gap: 15px;
        height: 100%;
    }
    .navbar__left {
        gap: 32px;
        align-items: center;
        height: fit-content;
        min-height: 79px;
    }
    .navbar__links {
        display: flex;
        height: 100%;
        align-items: center;
        gap: 15px;
    }
    .navbar__link {
        position: relative;
        display: block;
        width: fit-content;
        height: fit-content;
        transform: translateY(-2px);
        &::after {
            content: '';
            width: 0;
            height: 1px;
            color: white;
            display: block;
            position: absolute;
            bottom: 1px;
            left: 0;
            background: white;
            transition: all 0.2s ease-in-out;
        }
        &:hover::after {
            width: 100%;
        }
    }
}
