.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 9000;
    overflow-y: scroll;
    transform: translateX(100%);
    transition: transform 0.2s ease-out;
    background: var(--background);
}
.sidebar__container {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.sidebar_shown {
    transform: translateX(0%);
}
.sidebar__top {
    height: fit-content;
    padding: 20px 16px 0 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sidebar__close {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-6px);
    width: 35px;
    height: 35px;
    img {
        max-width: 100%;
    }
}
.sidebar__links {
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    gap: 24px;
    margin-bottom: 48px;
    &_secondary {
        gap: 20px;
        margin-bottom: 50px;
        a {
            color: var(--text-secondary);
            font-size: 18px;
            font-weight: 500;
            line-height: 19.6px;
            transition: all 0.2s ease-in-out;
            &:hover {
                color: $yellow;
            }
        }
    }
}
.sidebar__theme-container {
    padding: 0 32px;
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar__link {
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    position: relative;
    width: fit-content;
    color: var(--text-primary);
    &::after {
        content: '';
        width: 0;
        height: 1px;
        position: absolute;
        bottom: -3px;
        left: 0;
        background: $yellow;
        transition: all 0.2s ease-in-out;
    }
    &:hover::after {
        width: 100%;
    }
}
.sidebar__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    padding: 0 16px;
    margin-top: 0;
    margin-bottom: 48px;
}
.sidebar__btn {
    height: 48px;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-secondary);
    border: solid var(--text-secondary) 1px;
}
.sidebar__contacts {
    margin: 48px 0;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    a {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        gap: 12px;
        color: var(--text-primary);
        svg {
            stroke: var(--text-primary);
            color: var(--text-primary);
        }
        &:hover {
            color: $yellow;
            svg {
                filter: brightness(0) saturate(100%) invert(94%) sepia(14%)
                    saturate(3162%) hue-rotate(326deg) brightness(97%)
                    contrast(94%);
            }
        }
    }
}
.sidebar__logo {
    margin-bottom: 12px;
    svg {
        height: auto;
        width: 70px;
        fill: var(--logo-icon);
    }
}
.sidebar__services-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sidebar__services-link {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    .expand-arrow {
        color: var(--text-primary);
        fill: var(--text-primary);
        transition: all 0.2s ease-in-out;
        margin-left: 2px;
        height: 10px;
        width: auto;
    }
}

@media (min-width: $tablet-breakpoint) {
    .sidebar {
        max-width: 370px;
    }
    .sidebar__buttons {
        padding: 0 24px;
    }
    .sidebar__top {
        padding: 20px 24px 0 32px;
        align-items: flex-start;
    }
    .sidebar__close {
        margin-right: 3px;
        img {
            width: 41px;
            height: 41px;
        }
    }
}
