.swiper-controls {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
    button {
        width: 35px;
        height: 35px;
        border: 1px solid var(--border-primary);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        svg {
            width: 6px;
            height: 9px;
            transition: all 0.2s ease-in-out;
            fill: var(--text-quaternary);
        }
        &:hover {
            background: $yellow;
            svg {
                filter: brightness(0%);
            }
        }
    }
}

@media (min-width: $tablet-breakpoint) {
    .swiper-controls {
        width: fit-content;
        margin-top: 0;
        gap: 8px;
    }
}
@media (min-width: $desktop-breakpoint) {
}
