.telegram {
    padding: 24px 55px 0 24px;
    background: var(--main-primary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: var(--text-primary);
}
p {
    color: var(--text-secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;
}
img {
    width: 177px;
    height: auto;
    margin-left: auto;
    margin-top: 10px;
}
@media (min-width: $tablet-breakpoint) {
    .telegram {
        padding: 24px;
        position: relative;
        gap: 12px;
    }
    h2 {
        font-size: 24px;
        line-height: 28px;
    }
    p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 4px;
        max-width: 300px;
    }
    img {
        position: absolute;
        bottom: 0;
        right: 24px;
        height: 110%;
        width: auto;
    }
}
@media (min-width: $desktop-breakpoint) {
    .telegram {
        padding: 32px;
    }
    img {
        right: 80px;
    }
    p {
        max-width: unset;
        margin-bottom: 12px;
        line-height: 24px;
    }
    h2 {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
    }
}
