.form-container {
    border-radius: 16px;
    background: var(--main-primary);
    padding: 16px;
}
.input-container {
    width: 100%;
}
.disabled {
    pointer-events: none;
}
.input-hidden {
    position: absolute;
    top: 0;
    left: 0;
    height: 0px;
    width: 1px;
    opacity: 0;
}
.delete-file {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -32px;
    height: 30px;
    cursor: pointer;
    svg {
        max-width: 30px;
        height: auto;
        fill: var(--text-primary) !important;
        opacity: 50% !important;
        transition: all 0.2s ease-in-out;
    }
    &:hover {
        svg {
            fill: $yellow !important;
            opacity: 100% !important;
        }
    }
}
.input {
    border: solid 1px var(--border-primary);
    width: 100%;
    height: 48px;
    font-size: 16px;
    line-height: 20px;
    background: none;
    padding: 0 10px;
    color: var(--text-primary);
    border-radius: 8px;
    &::placeholder {
        color: var(--text-secondary);
    }
}
.fields {
    display: flex;
    flex-direction: column;
}
.btns {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .input-container {
        position: relative;
    }
    button,
    .cv-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        border-radius: 999px;
        border: solid 1px var(--border-primary);
        font-size: 14px;
        font-weight: 500;
        transition: all 0.2s ease-in-out;
        color: var(--text-primary);
        gap: 8px;
        width: 100%;
        cursor: pointer;
        svg {
            fill: var(--text-primary);
            opacity: 50%;
            align-self: center;
            transition: all 0.2s ease-in-out;
        }
        &:hover {
            border-color: $yellow;
            color: $yellow;
            svg {
                fill: $yellow;
                opacity: 1;
            }
        }
    }
    .send-btn {
        margin-top: 8px;
        height: 44px;
        background: $red;
        border: none !important;
        font-size: 16px;
        color: white !important;
        &:hover {
            background: $red-strong;
        }
    }
}
.confidentiality {
    margin-top: 16px;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    color: var(--text-secondary);
    a {
        color: var(--text-primary);
        &:hover {
            text-decoration: underline;
        }
    }
}
.error {
    height: 16px;
    color: $red;
    font-size: 12px;
}
@media (min-width: $tablet-breakpoint) {
    .form-container {
        padding: 24px;
    }
    .fields {
        &_top {
            flex-direction: row;
            gap: 16px;
        }
    }
    .confidentiality {
        font-size: 12px;
        line-height: 18px;
        text-align: right;
    }
    .btns {
        margin-top: 16px;
        flex-direction: row;
        gap: 16px;
        .input-container {
            max-width: 208px;
            .cv-btn {
                max-width: 100% !important;
            }
        }
        .cv-btn {
            &:first-child {
                max-width: 169px;
            }
        }
        .send-btn {
            margin-top: 0;
            margin-left: auto;
            min-width: 220px;
            max-width: 220px;
        }
    }
    .error {
        margin-bottom: 8px;
    }
}
@media (min-width: $desktop-breakpoint) {
    .form-container {
        padding: 32px;
    }
    .fields {
        gap: 16px;
        flex-direction: row;
        &_top {
            flex-grow: 3;
        }
    }
    .bottom {
        display: flex;
        flex-direction: row;
    }
    .btns {
        justify-content: space-between;
        flex-basis: 100%;
        .send-btn {
            margin-left: 0;
            min-width: 186px;
            max-width: 186px;
        }
    }
    .fio {
        max-width: 584px;
    }
    .confidentiality {
        max-width: 372px;
        min-width: 372px;
        margin-left: 24px;
        text-align: unset;
    }
    .error {
        font-size: 14px;
        margin-bottom: 0;
    }
    .survey_error {
        position: absolute;
        left: 0;
        top: 50px;
        max-width: none;
        width: 250px;
    }
}
