h2 {
    margin-bottom: 32px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.item {
    background: var(--main-primary);
    border-radius: 16px;
    padding: 32px;
    h3 {
        color: $yellow;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.2px;
    }
    div {
        margin-top: 16px;
        color: var(--text-primary);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.16px;
    }
}
.img-container {
    display: flex;
    justify-content: center;
    svg {
        color: var(--multimodal-icon);
        &:nth-of-type(2) {
            display: none;
        }
        &:last-of-type {
            display: none;
        }
    }
}
@media (min-width: $tablet-breakpoint) {
    .img-container {
        svg {
            &:first-of-type {
                display: none;
            }
            &:nth-of-type(2) {
                display: unset;
            }
        }
    }
    h2 {
        margin-bottom: 40px;
    }
    .container {
        gap: 32px;
    }
    .item {
        h3 {
            font-size: 22px;
            letter-spacing: 0.22px;
        }
        div {
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.18px;
        }
    }
}
@media (min-width: $desktop-breakpoint) {
    .img-container {
        svg {
            &:nth-of-type(2) {
                display: none;
            }
            &:last-of-type {
                display: unset;
            }
        }
    }
    h2 {
        margin-bottom: 48px;
    }
    .container {
        flex-direction: row;
        gap: 24px;
    }
    .container-top {
        .item:first-child {
            width: 325px;
            min-width: 275px;
        }
        .item:nth-child(2) {
            width: 523px;
            min-width: 473px;
        }
        .item:last-child {
            width: 352px;
            min-width: 302px;
            h3 {
                max-width: 240px;
            }
        }
    }
}
