$red: #b12925;
$red-strong: #8c0912;
$yellow: #f1b83b;
$shallow-gray: #686872;
$light-gray: #2c2c2c;
$gray: #2a2a2f;
$dark-main: #1b1b1f;
$max-width-desktop: 1248px;
$mobile-breakpoint: 768px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;
$desktop-large-breakpoint: 1366px;
