$red: #b12925;
$red-strong: #8c0912;
$yellow: #f1b83b;
$shallow-gray: #686872;
$light-gray: #2c2c2c;
$gray: #2a2a2f;
$blue-gray: rgba(51, 51, 56, 1);
$dark-main: #1b1b1f;
$text-gray: #adadb9;
$text-dark-gray: #5c5c5c;
$almost-white: #fff;
$text-dark: #1e1e1e;

$news-text-dark: rgba(220, 220, 220, 0.5);
$news-text-light: #cfcfcf;
$news-text-lighter: #dcdcdc;
$max-width-desktop: 1248px;
$mobile-breakpoint: 768px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;
$desktop-large-breakpoint: 1366px;
