img {
    filter: brightness(0) saturate(100%) invert(82%) sepia(40%) saturate(1258%)
        hue-rotate(332deg) brightness(105%) contrast(89%);
    width: 39px;
    height: fit-content;
    min-width: 39px;
}
ul {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

li {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    align-items: flex-start;
    padding-left: 12px;
    gap: 12px;
}
p {
    white-space: pre-wrap;
    max-width: 346px;
    color: var(--text-primary);
}
@media (min-width: $tablet-breakpoint) {
    ul {
        margin-top: 36px;
        display: grid;
        grid-template-columns: 280px auto;
        grid-template-rows: auto auto auto;
        gap: 40px;
        width: 100%;
    }
    p {
        max-width: 475px;
        width: 100% !important;
        // white-space: unset;
    }

    li {
        width: 100%;
        padding-left: 0;
        gap: 16px;
        &:not(:nth-child(2)) {
            p {
                width: 60%;
            }
        }
    }
}
@media (min-width: $desktop-breakpoint) {
    p {
        white-space: unset;
        max-width: 380px;
    }
    ul {
        margin-top: 46px;
        grid-template-columns: auto auto;
    }
    li {
        align-items: center;
        &:nth-child(2) {
            p {
                max-width: 481px;
            }
        }
    }
}
