h1 {
    font-size: 28px;
    line-height: 32px;
    margin-top: 39px;
}
h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
}
@media (min-width: $tablet-breakpoint) {
    .breadcrumbs {
        margin-top: 63px;
    }
    h1 {
        font-size: 34px;
        line-height: 40px;
        margin-top: 142px;
    }
    h5 {
        letter-spacing: 0.01em;
        line-height: 24px;
        white-space: pre-wrap;
        max-width: 600px;
    }
}
@media (min-width: $desktop-breakpoint) {
    .breadcrumbs {
        margin-top: 82px;
    }
    h1 {
        font-size: 48px;
        margin-top: 94px;
    }
    h5 {
        font-size: 20px;
        margin-top: 32px;
        max-width: 900px;
    }
}
