main {
    overflow: hidden;
}
.other {
    margin-top: 60px;
}
.rent-bg {
    min-height: 200%;
    background-position: bottom center;
}
.bottom-bg {
    min-height: 120%;
    top: unset;
    bottom: 0;
}
.form-section {
    margin-top: 24px;
}
.projects-section {
    position: relative;
}
@media (min-width: $tablet-breakpoint) {
    .other {
        margin-top: 80px;
    }
    .rent-bg {
        min-height: 210%;
    }
}
@media (min-width: $desktop-breakpoint) {
    .other {
        margin-top: 120px;
    }
    .rent-bg {
        min-height: 210%;
    }
}
