main {
    overflow: hidden;
}
.air-freight-bg {
    min-height: 100%;
    background-position: 70% 100%;
}
@media (min-width: $tablet-breakpoint) {
    .air-freight-bg {
        min-height: 170%;
        top: -150px;
    }
}
@media (min-width: $desktop-breakpoint) {
    .air-freight-bg {
        min-height: 150%;
        top: -30%;
    }
}
@media (min-width: $desktop-large-breakpoint) {
    .air-freight-bg {
        min-height: calc(96% + 25vw);
        top: -190px;
    }
}
