section {
    margin-top: 60px;
    overflow: visible;
}
.car-freight-bg {
    min-height: 122%;
    background-position: 25% 100%;
}
.car-freight-china {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.china-bg {
    position: absolute;
    top: -5%;
    height: auto;
    width: 160%;
    max-width: 1648px;
    z-index: -1;
}
//safari can't process overflow-x and -y on 1 container (!)
.safari-fix {
    overflow-x: hidden;
}
@media (min-width: $tablet-breakpoint) {
    section {
        margin-top: 80px;
    }
    .china-bg {
        top: -10%;
        width: 110%;
    }
    .filler-message {
        text-align: center;
    }
}
@media (min-width: $desktop-breakpoint) {
    .car-freight-bg {
        min-height: 130%;
    }
    section {
        margin-top: 120px;
    }
    .china-bg {
        top: -20%;
    }
}
