section {
    margin-top: 60px;
}
.car-freight-bg {
    min-height: 102%;
}
.car-freight-china {
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
}
.china-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    z-index: -1;
    margin-left: auto;
}
@media (min-width: $tablet-breakpoint) {
    section {
        margin-top: 80px;
    }
}
@media (min-width: $desktop-breakpoint) {
    .car-freight-bg {
        min-height: min(calc(60% + 30vw), 1000px);
    }
    section {
        margin-top: 120px;
    }
}
