.home-header-slider {
    padding-top: 0 !important;
}
@media (min-width: $tablet-breakpoint) {
    .home-cards {
        margin-top: 60px;
    }
}
@media (min-width: $desktop-breakpoint) {
    .home-cards {
        margin-top: 90px;
    }
}
