section {
    margin-top: 48px;
}
.home-main {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    margin-top: 0px;
}
.calculator__back-blur {
    background: rgba(111, 111, 111, 0.3);
    backdrop-filter: blur(5px);
    min-height: 300px;
    border-radius: 24px;
    padding: 12px;
}
.home-cards {
    margin-top: 54px;
}
.home-values {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
@media (min-width: $tablet-breakpoint) {
    section {
        margin-top: 60px;
    }
    .home-main {
        margin-top: 0px;
    }
    .calculator__back-blur {
        padding: 32px 45px 50px;
    }
    .home-services {
        margin-top: 70px;
    }
    .home-partners {
        margin-top: 64px;
    }
    .home-cards {
        margin-top: 40px;
    }
    .home-values {
        margin-top: 95px;
    }
}
@media (min-width: $desktop-breakpoint) {
    section {
        margin-top: 100px !important;
    }
    .home-main {
        margin-top: 0px !important;
        padding-bottom: 207px;
    }
    .calculator__back-blur {
        padding: 32px 50px 53px 45px;
    }
    .home-advantages {
        margin-top: 0px !important;
    }
    .home-services {
        margin-top: 84px !important;
    }
}
