.sea-freight-main {
    padding-bottom: 70px;
}
section {
    margin-top: 70px;
}
.sea-freight-bg {
    min-height: 100%;
}
.sea-freight-advantages {
    margin-top: 0 !important;
}
.sea-freight-coastal {
    margin-top: 33px;
}
@media (min-width: $tablet-breakpoint) {
    .sea-freight-main {
        padding-bottom: 110px;
    }
    .sea-freight-bg {
        min-height: 123%;
    }
    .sea-freight-coastal {
        margin-top: 24px;
    }
    section {
        margin-top: 80px;
    }
}
@media (min-width: $desktop-breakpoint) {
    .sea-freight-main {
        padding-bottom: 220px;
    }
    .sea-freight-bg {
        min-height: 110%;
    }
    .sea-freight-coastal {
        margin-top: 58px;
    }
    section {
        margin-top: 120px;
    }
}
