.multimodal-bg {
    min-height: 120%;
}
.subheader {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.4px;
    text-align: center;
    max-width: 604px;
    color: var(--text-primary);
    &_shrink {
        letter-spacing: -1%;
        font-weight: 700;
        max-width: 305px;
    }
}

@media (min-width: $tablet-breakpoint) {
    .multimodal-bg {
        min-height: 130%;
    }
    .subheader {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: -0.56px;
        &_shrink {
            letter-spacing: 0.3px;
            max-width: 480px;
        }
    }
}

@media (min-width: $desktop-breakpoint) {
    .subheader {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.64px;
        max-width: 934px;
        &_shrink {
            letter-spacing: 0.3px;
            max-width: 580px;
        }
    }
}
