section {
    margin-top: 70px;
}
.project-logistics-main {
    margin-top: 0px;
    padding-top: 52px;
    position: relative;
}
.project-logistics-bg {
    max-width: none;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-top: 0px;
    min-height: 105%;
    position: absolute;
    top: 0;
    z-index: -1;
}
.project-logistics-complex-organization {
    margin-top: 0 !important;
}
@media (min-width: $tablet-breakpoint) {
    .project-logistics-main {
        margin-top: 0px;
        padding-top: 72px;
    }
    .project-logistics-bg {
        background-position: 20% 100%;
        min-height: 150%;
        width: 100%;
    }
}
@media (min-width: $desktop-breakpoint) {
    .project-logistics-main {
        padding-top: 83px;
        margin-top: 0px !important;
    }
    .project-logistics-bg {
        background-position: bottom center;
        min-height: 105%;
        width: 100%;
    }
}
