section {
    margin-top: 60px;
}
.services-header {
    margin-top: 0;
    padding-top: 52px;
}
.services-card {
    padding-bottom: 60px;
}
.services-list__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
}
.services-cards_services-page {
    margin-top: 32px;
}
.services-bg {
    min-height: 180%;
}
@media (min-width: $tablet-breakpoint) {
    .services-header {
        padding-top: 72px;
    }
    .services-card {
        padding-bottom: 65px;
        margin-top: 65px;
    }
    .services-list__title {
        font-size: 32px;
    }
    section {
        margin-top: 58px;
    }
}
@media (min-width: $desktop-breakpoint) {
    .services-header {
        padding-top: 83px;
    }
    .services-card {
        padding-bottom: 120px;
        margin-top: 120px;
    }
    .services-cards_services-page {
        margin-top: 40px;
    }
    section {
        margin-top: 120px;
    }
}
