.services-list__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
}
.services-cards_services-page {
    margin-top: 32px;
}
.services-bg {
    min-height: 180%;
}
@media (min-width: $tablet-breakpoint) {
    .services-card {
        padding-bottom: 65px;
        margin-top: 65px;
    }
    .services-list__title {
        font-size: 32px;
    }
}
@media (min-width: $desktop-breakpoint) {
    .services-cards_services-page {
        margin-top: 40px;
    }
}
