section {
    padding-bottom: 60px;
}
h1 {
    font-size: 28px;
    margin: 32px 0;
}
.news-bg {
    min-height: 80px;
}

li,
ul {
    all: revert;
    color: var(--text-secondary);
    font-size: 18px;
    line-height: 32px;
}
ul {
    list-style-type: none !important;
    list-style: none !important;
    margin: 0 !important;
    padding-left: 0;
}
.subroutes {
    padding-left: 1.5em !important;
}
a {
    transition: all 0.2s ease-in-out;
    color: var(--text-secondary);
    cursor: pointer;
    &:hover {
        color: $yellow;
    }
}
@media (min-width: $tablet-breakpoint) {
    .breadcrumbs {
        margin-top: 48px;
    }
    section {
        padding-bottom: 80px;
    }
    .news-bg {
        min-height: 250px;
    }
    h1 {
        font-size: 34px;
        margin: 48px 0 42px 0;
    }
}
@media (min-width: $desktop-breakpoint) {
    section {
        padding-bottom: 120px;
    }
    .news-bg {
        min-height: 250px;
    }
    h1 {
        font-size: 38px;
        margin: 48px 0 42px 0;
    }
    .sitemap {
        display: flex;
        gap: 32px;
        > * {
            width: auto;
        }
    }
}
