.vacancies-bg {
    min-height: 140%;
}
h1 {
    margin-top: 94px;
    font-size: 28px;
    line-height: 32px;
    color: white;
}
p {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.16px;
    max-width: 220px;
    margin-top: 16px;
    padding-bottom: 24px;
    span {
        color: $yellow;
        font-weight: 600;
    }
}
.open-vacancies {
    display: flex;
    flex-direction: column;
    gap: 26px;
    a {
        color: var(--text-secondary);
        box-sizing: border-box;
        padding: 10px 56px;
        border-radius: 9999px;
        border: solid 1px var(--text-secondary);
        height: fit-content;
        width: 100%;
        white-space: nowrap;
        text-align: center;
        transition: all 0.2s ease-in-out;
        span {
            display: none;
        }
        &:hover {
            color: $yellow;
            border-color: $yellow;
        }
    }
}
.banner {
    display: flex;
    justify-content: center;
    strong {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
        color: var(--text-primary);
        max-width: 700px;
        white-space: pre-wrap;
    }
    span {
        color: $yellow;
    }
}
@media (min-width: $tablet-breakpoint) {
    .vacancies-bg {
        min-height: 150%;
    }
    .breadcrumbs {
        margin-top: 64px;
    }
    h1 {
        margin-top: 80px;
        font-size: 34px;
        line-height: 34px;
    }
    p {
        max-width: 364px;
        line-height: 28px;
        padding-bottom: 0;
        strong {
            font-weight: 700;
        }
    }
    .banner {
        strong {
            font-size: 30px;
            line-height: 36px;
        }
    }
    .open-vacancies {
        flex-direction: row;
        gap: 24px;
        justify-content: space-between;
        align-items: flex-end;
        a {
            padding: 10px 40px;
            width: max-content;
        }
        h2 {
            max-width: 600px;
        }
    }
}
@media (min-width: $desktop-breakpoint) {
    .vacancies-bg {
        min-height: 150%;
    }
    .breadcrumbs {
        margin-top: 87px;
    }
    h1 {
        margin-top: 120px;
        font-size: 48px;
        line-height: 65px;
    }
    p {
        margin-top: 12px;
        font-size: 22px;
        line-height: 38px;
        letter-spacing: 0.22px;
        max-width: 500px;
        padding-bottom: 49px;
    }
    .banner {
        strong {
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -0.64px;
            max-width: 1000px;
        }
    }
    .open-vacancies {
        h2 {
            max-width: unset;
        }
        a {
            padding: 10px 56px;
            span {
                display: unset;
            }
        }
    }
}
