.train-freight-main {
    padding-bottom: 60px;
}
.train-freight-bg {
    min-height: 113%;
}
.train-freight-advantages {
    margin-top: 0 !important;
}
.train-freight-cargo-type {
    margin-top: 59px;
}
@media (min-width: $tablet-breakpoint) {
    .train-freight-main {
        padding-bottom: 100px;
    }
    .train-freight-bg {
        min-height: 108%;
    }
    .train-freight-cargo-type {
        margin-top: 24px;
    }
}
@media (min-width: $desktop-breakpoint) {
    .train-freight-main {
        padding-bottom: 168px;
    }
    .train-freight-bg {
        min-height: 110%;
    }
    .train-freight-cargo-type {
        margin-top: 100px;
    }
}
