.branches {
    background: var(--main-primary);
    width: 100%;
    border-radius: 16px;
    height: 721px;
    padding: 24px 0px 0px 24px;
    position: relative;
    overflow: hidden;
    min-height: 380px;
}
.branches__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    width: 200px;
    margin-bottom: 32px;
    z-index: 10;
}
.branches__background {
    position: absolute;
    width: 150%;
    bottom: 0px;
    left: 50px;
    height: 180px;
    z-index: 0;
    overflow: hidden;
    svg {
        color: var(--coastal-map);
        width: 744px;
        height: auto;
    }
}
.rel {
    position: relative;
    width: 100%;
    height: 100%;
    border: solid black 1px;
    .branch-button {
        position: absolute;
        top: 56%;
        left: 10%;
        width: 100px;
        height: 20px;
        border-radius: 99px;
        font-size: 18px;
        font-weight: 600;
        color: white;
        background: $yellow;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%) translateY(-50%);
    }
}
@media (min-width: $tablet-breakpoint) {
    .branches {
        background-repeat: no-repeat;
        background-size: 110%;
    }
    .branches__title {
        font-size: 28px;
        line-height: 43px;
        width: unset;
    }
    .branches__background {
        min-height: 215px;
        height: fit-content;
        svg {
            min-width: 100%;
            height: auto;
        }
    }
}
@media (min-width: 1040px) {
    .branches {
        background-position: 0% 110%;
    }
}
@media (min-width: $desktop-breakpoint) {
    .branches {
        display: flex;
        justify-content: space-between;
        padding: 32px 32px 32px 32px;
        height: fit-content;
        z-index: 1;
    }
    .branches__title {
        font-weight: 500;
        font-size: 32px;
        line-height: 43px;
        width: 43%;
    }
    .branches__background {
        min-height: 215px;
        height: fit-content;
        svg {
            min-width: 100%;
            height: auto;
        }
    }
}
