.branch {
    z-index: 999;
}
.branch__city {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 4px;
}
.branch__info {
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #adadb9;
    display: flex;
    gap: 12px;
}
@media (min-width: $tablet-breakpoint) {
    .branch__city {
        font-size: 20px;
        line-height: 30px;
    }
    .branch__info {
        font-size: 14px;
    }
}
