.branch {
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}
h5 {
    color: var(--text-primary);
    font-weight: 600;
    font-size: 16px;
}
a,
p {
    color: var(--text-secondary);
    font-size: 13px;
    white-space: pre-wrap;
    line-height: 24px;
    max-width: 380px;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    &_bottom {
        h5 {
            font-size: 14px;
        }
        p {
            white-space: pre-wrap;
        }
    }
}
@media (min-width: $tablet-breakpoint) {
    .branch {
        padding: 0 36px 0 26px;
        flex-direction: row;
        gap: 64px;
        max-width: 850px;
    }
    .info {
        h5 {
            font-size: 16px;
            line-height: 30px;
        }
        p,
        a {
            font-size: 16px;
            line-height: 22px;
        }
        &_bottom {
            gap: 0;
            max-width: 400px;
            min-width: 350px;
            h5 {
                font-size: 14px;
            }
        }
    }
}
@media (min-width: $desktop-breakpoint) {
    .branch {
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        padding: 156px 12px 24px 56px;
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0) 0%,
            var(--main-primary) 40%,
            var(--main-primary) 100%
        );
        gap: 24px;
        width: 320px;
        height: 100%;
    }
    .info {
        h5 {
            font-size: 20px;
            line-height: 30px;
        }
        a,
        p {
            font-size: 20px;
            line-height: 30px;
        }
        &_bottom {
            margin-left: unset;
            min-width: unset;
            max-width: unset;
            h5,
            p {
                font-size: 16px;
            }
            p {
                line-height: 22px;
            }
        }
    }
}
@media (min-width: 1280px) {
    .branch {
        padding: 164px 32px 32px 56px;
        gap: 24px;
        width: 380px;
    }
}
@media (min-width: $desktop-large-breakpoint) {
    .branch {
        width: 400px;
    }
}
