.presentation {
    width: 100%;
    border-radius: 16px;
    background: var(--main-primary);
    padding: 24px 18px 6px;
    overflow: hidden;
    position: relative;
}
.error {
    font-size: 14px;
    color: $red-strong;
    text-align: center;
    line-height: 16px;
    height: 18px;
}
.presentation__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding: 0 6px;
    color: var(--text-primary);
}
.presentation__text {
    font-weight: 400;
    font-size: 16px;
    margin-top: 12px;
    padding: 0 6px;
    color: var(--text-secondary);
    line-height: 24px;
}
.presentation__content {
    display: flex;
    flex-direction: column;
}
.presentation__img {
    display: none;
}
.btns-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 32px;
    align-items: center;
}
.input-container,
button {
    width: 100%;
    border-radius: 999px;
    max-width: 400px;
    height: 44px;
    border: solid var(--border-primary) 1px;
    display: flex;
    align-items: center;
}
.input-container {
    padding-left: 16px;
    gap: 10px;
    svg {
        color: var(--text-secondary);
    }
}
input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    min-height: fit-content;
    color: var(--text-primary);
    &::placeholder {
        color: var(--text-secondary);
    }
}
button {
    background-color: $yellow;
    font-size: 16px;
    font-weight: 500;
    border-color: $yellow;
    color: var(--text-5);
    justify-content: center;
    gap: 8px;
    svg {
        fill: var(--text-5);
        height: 10px;
        width: auto;
        transform: translateY(1px);
    }
}
@media (min-width: $tablet-breakpoint) {
    .error {
        text-align: left;
    }
    .presentation {
        padding: 32px 32px 14px;
        overflow: hidden;
    }
    .presentation__title {
        font-size: 28px;
        line-height: 36px;
        padding: 0;
    }
    .presentation__text {
        font-size: 16px;
        line-height: 24px;
        margin-top: 12px;
        padding: 0;
    }
    .presentation__content {
        width: 420px;
    }
    .presentation__img {
        display: unset;
        position: absolute;
        bottom: 0;
        right: -55px;
        height: 92%;
        width: auto;
    }
    .btns-container {
        max-width: 298px;
    }
}
@media (min-width: $desktop-breakpoint) {
    .presentation__img {
        top: 0;
        right: 30px;
        height: 125%;
    }
    .presentation {
        padding: 32px 40px 26px;
    }
    .presentation__title {
        font-size: 32px;
        line-height: 55px;
        margin-left: 0px;
        width: 100%;
    }
    .presentation__text {
        margin-top: 8px;
        max-width: 527px;
    }
    .presentation__content {
        width: 100%;
    }
    .btns-container {
        flex-direction: row;
        gap: 16px;
        margin-top: 20px;
        max-width: unset;
        button {
            min-width: 186px;
            max-width: 186px;
        }
        .input-container {
            min-width: 296px;
            max-width: 296px;
        }
    }
}
