img {
    width: 100%;
    height: auto;
    margin-top: 40px;
    align-self: center;
    max-width: 300px;
}
.img-container {
    display: flex;
    justify-content: center;
}
.tablet-desktop {
    display: none;
}

@media (min-width: $tablet-breakpoint) {
    .mobile {
        display: none;
    }
    .tablet-desktop {
        display: unset;
    }
    img {
        max-width: unset;
    }
}
@media (min-width: $desktop-breakpoint) {
    img {
        margin-top: 12px;
    }
}
