.faq {
    display: flex;
    flex-direction: column;
    gap: 0;
}
.faq__container {
    background: var(--main-primary);
    border-radius: 8px;
    margin-top: 28px;
}
.show-all-btn {
    margin: 0 auto;
    margin-top: 16px;
    color: var(--faq-expand);
}
svg {
    fill: var(--faq-expand);
    transition: all 0.2s ease-in-out !important;
}
.redder {
    color: red !important;
}

.question {
    padding: 24px 57px 24px 24px;
    position: relative;
    transition: all 0.2s ease-in-out;
    border-bottom: solid 1px var(--border-quaternary);
    cursor: pointer;
    &_expanded {
        cursor: unset;
    }
    h3 {
        color: var(--text-quaternary);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    svg {
        position: absolute;
        top: 26px;
        right: 32px;
        width: 14px;
        height: auto;
    }
    .semibold {
        font-weight: 500;
        color: var(--text-primary);
    }
}
.collapse {
    transition: height var(--vc-auto-duration) cubic-bezier(0.3, 0, 0.6, 1);
}
.rotated {
    transform: rotate(180deg) !important;
}
.answer {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
    color: var(--text-secondary);
    ul,
    li,
    ol {
        all: revert;
    }
    ol,
    ul {
        padding: 0;
        margin: 0;
        list-style-position: inside;
    }
    b {
        font-weight: 500;
    }
    span {
        color: $yellow !important;
        font-weight: 500;
    }
    .flex-cols {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}
@media (min-width: $tablet-breakpoint) {
    .question {
        padding: 24px 64px 24px 32px;
        h3 {
            font-size: 20px;
        }
        svg {
            top: 32px;
            right: 41px;
        }
    }
    .faq__container {
        margin-top: 36px;
    }
    .answer {
        margin-top: 28px;
        * {
            font-size: 16px !important;
            line-height: 32px !important;
        }
        .flex-cols {
            flex-direction: row;
            justify-content: space-between;
            div {
                h4 {
                    font-size: 16px !important;
                    line-height: 140% !important;
                }
                ul {
                    li,
                    b {
                        font-size: 16px !important;
                        line-height: 140% !important;
                    }
                    b {
                        font-weight: 600;
                    }
                }
                &:first-child {
                    width: 38%;
                    min-width: 242px;
                }
                &:nth-child(2) {
                    width: 25%;
                    min-width: 149px;
                }
                &:last-child {
                    width: 25%;
                    min-width: 177px;
                }
            }
        }
    }
}
@media (min-width: $desktop-breakpoint) {
    .question {
        padding: 20px 56px 20px 32px;
        h3 {
            line-height: 32px;
        }
    }
    .faq__container {
        margin-top: 42px;
    }
    .show-all-btn {
        margin-top: 24px;
    }
}
