.main-header {
    padding-top: 91px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    margin-bottom: 25px;
}
.main-header__header {
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    span {
        color: $yellow;
    }
}
.main-header__subheader {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

@media (min-width: $tablet-breakpoint) {
    .main-header {
        padding-top: 123px;
        gap: 5px;
        margin-bottom: 60px;
    }
    .main-header__header {
        font-size: 34px;
        padding: 0;
        line-height: 130%;
    }
    .main-header__subheader {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 10px;
    }
}
@media (min-width: $desktop-breakpoint) {
    .main-header {
        padding-top: 212px;
        gap: 20px;
    }
    .main-header__header {
        font-size: 48px;
        line-height: 52px;
        width: 889px;
    }
    .main-header__subheader {
        font-size: 20px;
    }
}
@media (min-width: $desktop-large-breakpoint) {
    .main-header__subheader {
        margin-bottom: 0px;
    }
}
