.services__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}
.services__title {
    font-weight: 700;
    font-size: 24px;
}
.services__link {
    margin-right: 15px;
}
.services-cards_home {
    margin-top: 34px;
}

@media (min-width: $tablet-breakpoint) {
    .services__title {
        font-size: 32px;
    }
    .services-cards_home {
        margin-top: 42px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: $desktop-breakpoint) {
    .services__title {
        font-size: 36px;
    }
    .services-cards_home {
        margin-top: 64px;
        grid-template-rows: repeat(3, 1fr);
    }
}
