.map {
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    z-index: 10;
}
.btns_container {
    display: none;
}
button {
    width: 100%;
    height: 100%;
    background: var(--main-primary);
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--text-primary);
    transition: all 0.2s ease-in-out;
    &:hover {
        background: $yellow;
        color: $dark-main;
        img {
            filter: brightness(0) !important;
        }
    }
}
.img-container {
    position: relative;
    width: 100% !important;
    padding: 0 !important;
    margin: 0;
    z-index: 0;
    margin-top: -50px;
}
.img-container__blur {
    &-right {
        right: 0;
        top: 0;
        height: 100%;
        width: 7%;
        margin: 0 !important;
        padding: 0 !important;
        display: block;
        position: absolute;
        background: linear-gradient(
            90deg,
            rgba(9, 9, 121, 0) 0%,
            var(--background) 100%
        );
    }
    &-top {
        left: 0;
        top: 0;
        height: 65%;
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
        display: block;
        position: absolute;
        background: linear-gradient(
            0deg,
            rgba(9, 9, 121, 0) 0%,
            rgba(9, 9, 121, 0) 20%,
            var(--background) 70%
        );
    }
}
img {
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    display: block;
}
.map-static {
    position: relative;
    height: auto;
    width: 100%;
    color: var(--coastal-map);
}
.map-reactive {
    position: absolute;
    height: 100%;
}
.bottom-mobile {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 18px;
    width: 100%;
    button {
        height: 40px;
        gap: 16px;
        img {
            width: 10px;
            height: auto;
            filter: brightness(0) invert(1);
            transform: translateY(1px);
            transition: all 0.2s ease-in-out;
        }
    }
}
.action-btn {
    color: var(--text-secondary);
    background: var(--background);
    border: solid 2px var(--border-primary);
    height: calc(100% - 4px);
    &:hover {
        background: $yellow;
        color: $dark-main;
        border: 2px solid $yellow;
    }
}
.btn_active {
    background: $yellow !important;
    color: $dark-main !important;
}
.collapse-btn {
    img {
        transform: rotate(180deg) !important;
    }
}
@media (min-width: $tablet-breakpoint) {
    h2 {
        font-size: 32px;
        line-height: 32px;
    }
    .btns_container {
        z-index: 10;
        margin-top: 30px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 40px);
        column-gap: 14px;
        row-gap: 16px;
    }
    .img-container {
        margin-top: -140px;
    }
    .bottom-mobile {
        display: none;
    }
    .action-btn {
        grid-column: span 3;
    }
}
@media (min-width: $desktop-breakpoint) {
    h2 {
        font-size: 36px;
    }
    .btns_container {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 40px 40px;
        row-gap: unset;
        gap: 12px !important;
        margin-top: 32px;
    }
    img {
        width: 100%;
    }
    .img-container {
        margin-top: -135px;
        width: 100%;
    }
    .action-btn {
        grid-column: unset;
    }
}
